{
  "$schema": "./assets/blueprints/blueprint-schema.json",
  "meta": {
    "title": "FacturaScripts Playground Sample",
    "author": "facturascripts-playground",
    "description": "Ejemplo minimo de blueprint para FacturaScripts Playground."
  },
  "debug": {
    "enabled": false
  },
  "landingPage": "/",
  "siteOptions": {
    "title": "FacturaScripts Playground Demo",
    "locale": "es_ES",
    "timezone": "Europe/Madrid"
  },
  "login": {
    "username": "admin",
    "password": "admin"
  },
  "plugins": [
    "MiPlugin"
  ]
}
